/* css stylesheets */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}

/* Navbar CSS */
.navbar {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar-item {
  margin: 1em;
}

/*
 * Wifi Setup Page CSS
 * */
#wifi-setup-form {
  display: flex;
  flex-direction: column;
  margin: 8em;
}

.form-item {
  align-self: center;
  border: 1px solid #2e4753;
  border-radius: 7px;
  font-style: italic;
  height: 2em;
  padding: 0.5em;
}

/*
 * Device Control Page CSS
 * */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-block: 2em;
  padding: 0.5em;
}
.card {
  background-color: #2e4753;
  border: 1px solid #2e4753;
  border-radius: 12px;
  height: 5em;
  margin: 2px;
  padding: 0.5em;
  width: 10em;
}
.card-label {
  color: #ccc;
  font-weight: bold;
}

/*
 * Licence footer
 * */
footer {
  text-align: center;
  font-size: small;
  margin-top: 15em;
}
